*{
    margin: 0; 
    padding: 0;   
}
  /*Body*/

  body{
    background-color: rgb(230, 228, 235)

 }
  /*header*/

  header{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 10px;
    background-color: cadetblue;
  }

  .logo{
    width: 150px;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    border-radius: 10px;
        
   }

  a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    }

    main{
    text-align: center;
    }

   h1{
    padding: 0px;
    margin-top:50px;
    text-align:center;
    margin-bottom:20px;
    }
  
  .quienessomos {
    font-size: bold;
    padding: 10px;
  }

   .Ubicacion{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 20px;
   }

   h3{
    text-decoration: double;
    text-align: center;
    color: rgb(11, 11, 12);
   }

   .mapa{
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
  }

   h4{
    text-decoration: double;
    text-decoration: underline;
    text-align: left;
    font-style: italic;
    color: black;
   }
   
   footer{
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid black;
   }
   
   /* Grid */
   .contenedor-imagenes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    grid-area: 20px;
    }

   .contenedoresImagenSegunda{
    display: inline;
    width: 300px;
    height: auto;
    border-radius: 10px;
   }

   .contenedoresPromociones{
    display: inline;
    width: 300px;
    height: auto;
    border-radius: 10px;
   }

   .contenedoresProductos{
    display: inline;
    width: 300px;
    height: auto;
    border-radius: 10px; 
   }

   .contenedoresProductosSegundos{
    display: inline;
    width: 300px;
    height: auto;
    border-radius: 10px;
   }

   .contenedoresProductosTerceros{
    display: inline;
    width: 300px;
    height: auto;
    border-radius: 10px;
   }
        
   /*piedepagina*/

  .piedepagina{
    border-bottom: 1px solid black;
    text-align: center;
    margin: 0px; 
    padding-bottom: 0px;
    background-color: cadetblue;
    }

  .redessociales{
    width: 30px; 
        }

  /*formulario*/

  form{
    margin-top: 20px;
  }

label{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  font-size: 20px;
}

input,
textarea{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px silver
}

.btnFormulario{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;

}
.container-vestite {
  width: 100%;
}
.vestite{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  color:cadetblue ;
  background-color: rgb(23, 22, 22);
  margin: 10%;
  padding: 25px;
  border: outset; 
  border-radius: 5px;
  align-items: center;
  
}

.loqueTenemos{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:cadetblue ;
  background-color: black;
  padding: 25px; 
  margin: 10%;
  border: outset;
  border-radius: 5px;
}

.imagen {
  width: 225px;
  height: 225px;
}


@media screen and (max-width:1116px) {
  /*inicio*/
    .navbar ul li{font-size: 12px; margin: 0px; padding: 5px;}

    .logo{width: 85px;}

    .contenedorvideo video{width: 500px; text-align: center; margin: 0px; padding: 0px}

    .vestite{
      width: 75%;
      text-align: center;
      font-size: 20px;
    }

    .loqueTenemos{
      width: 75%;
      text-align: center;
      font-size: 20px;
    }
    .imagen {
      width: 200px;
      height: 200px;
    }
    /* Grid */
    .contenedor-imagenes {
      grid-template-columns: repeat(4, 50px);
      grid-template-rows: repeat(2, 50px);
      gap: 12px;
      margin: 19px;
      }
      


  /*empresa*/
    .navbar2 ul li{font-size: 12px; margin: 0px; padding: 5px;}

    .quienessomos{
      font-size: 15px;
    }

    h2{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
  /*productos*/
    .navbar3 ul li{font-size: 12px; margin: 0px; padding: 5px;}

    .contenedoresProductos{width: 100px;}

    .contenedoresProductosSegundos{width: 100px;}

    .contenedoresProductosTerceros{width: 100px;}

    .nuestrosproductos{text-align: center; }

    
  }
