
/*productos*/
 .txt-prod{
    text-align: center;
    font-size: 36px;
    margin: 10px;
 }

 .contenedoresProductos{
    width: 100px;
    }

 .contenedoresProductosSegundos{
    width: 100px;
    
    }

 .contenedoresProductosTerceros{
    width: 100px;   
    }

 .nuestrosproductos{
    text-align: center; 
    }


